
.yo{
    justify-content: center;
    width: 100%;
}
.yo__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
}
.yo__img{
    width: 350px;
    border-radius: 1rem;
    justify-self: center;
}

.yo__info{
    grid-template-columns: repeat(2, 140px);
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.yo__box{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem;
    height: 170px;
   
}
.yo__icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.yo__title2{
    text-align: center;
    margin-bottom: 3rem;

}
.yo__subtitle{
    font-size: small;
    text-align: center;
    align-self: center;
}
.yo__description{
    
    margin-bottom: 2.5rem;
}


/** SKILLS */

.skills__container {
    grid-template-columns: repeat(2, 350px) !important; 
    column-gap: 3rem;
    justify-content: center;
}
.skills h2{
    margin: 2rem 0;
}

.skills__content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    max-width: 320px;
    min-width: 320px;
    justify-self: center;
}

.skills__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}

.skills__data i{
    font-size: 1rem;
    color: rgb(160, 5, 5);
}

.skills__name{
    line-height: 18px;
}

.skills__level{
    font-size: small;
}
@media screen and (max-width: 992px){
    
    .yo__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .yo__img{
        width: 220px;
    }

    .yo__box{
        padding: 0.75rem 0.5rem;
    }

    .yo__data{
        text-align: center;
    }
    .yo__info{
        justify-content: center;
    }
    .yo__description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

    /** SKILLS */

    .skills__container {
        grid-template-columns: max-content !important;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 576px){
    .yo__info{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1rem;
        padding: 0 0.5rem;
    }
    .yo__description{
        padding: 0;
    }
    .yo__img{
        width: 140px;
    }
    .yo__title{
        font-size: 16px;
    }
    
    .skills__container {
        grid-template-columns: max-content !important;
    }
    .skills__content{
        padding: 1.5rem;
    }
}

@media screen and (max-width: 390px){
    .yo__info{
        grid-template-columns: repeat(2, 1fr);
    }
    .yo__img{
        width: 120px;
    }
    /** SKILLS */

    .skills__box{
        column-gap: 1.25rem;
    }
    .skills__name{
        font-size: small;
    }
    .skills__content{
        padding: 1rem;
    }
}
@media screen and (max-width: 326px) {
    .skills__content{
        min-width: 252px !important;
    }
}


