
.home__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 9.5rem;
    
    align-items: center;
}
.text{
    width: 100%;
    color: rgb(160, 5, 5);
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 3rem;
    outline: none;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: var(--text-secondary);
        text-shadow: none;}
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100%{
        color: rgb(160, 5, 5);
        text-shadow: 0 0 10px rgba(173, 51, 51, 0.548),
        0 0 20px rgba(192, 78, 78, 0.464),
        0 0 40px rgba(180, 77, 77, 0.646),
        0 0 80px rgba(177, 67, 67, 0.615),
        0 0 160px rgba(180, 58, 58, 0.646);
    }
}
.home__social{
    display: flex;
    gap: 1rem;
}
.home__social-icon{
    font-size: 2.25rem;
    color: var(--text-secondary);
}
.home__social-icon:hover{
    color: rgb(160, 5, 5);
}
.home__title {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home__subtitle{
    position: relative;
    font-size: 18px;
    margin-bottom: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: 3rem;
    color: var(--text-secondary);
}

.home__img{
    color: var(--text-primary);
    order: 1;
    justify-self: center;
    width: 100%;

}
.home__img span{
    color: var(--text-primary);
    font-size: 5rem;
    z-index: 100;
}



/** BREAKPOINTS **/

@media screen and (max-width: 992px){
    .home__subtitle{
        
        margin-bottom: 1rem;
    }
    .home__description{
        max-width: initial;
        margin-bottom: 2.5rem;
    }
    .home__img{
        height: 200px;
        width: 200px;
        box-shadow: inset 0 0 0 5px rgb(255 255 255 / 30%);
    }
}
  
  /* Medium */
  
  @media screen and (max-width: 768px) {
    .home__content{
        padding-top: 4rem;
        display: flex !important;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home__data{
        grid-column: 1/3;
    }
    .text{
        text-align: end;
        margin: 0 0 2rem;
        line-height: 1rem;
    }
    .home__description{
        width: 90%;
    }
  }
  
  @media screen and (max-width: 576px){
    .text{
        font-size: 10vw;
    }
    .home__title{
        font-size: 1.5rem;
    }
  }
  
  /* Small*/
  
  @media screen and (max-width: 350px){
    

  }