@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}


*:hover{ -webkit-tap-highlight-color: rgba(0,0,0,0); }
html{
  scroll-behavior: smooth;
  background-color: var(--background) !important;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  
}
.App{
  background-color: var(--background);
  color: var(--text-primary);
  transition: all .4s;
}
.theme-toggle{
  position: absolute;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  border-radius: 1.3rem;
  font-size: 2rem;
  right: 10px;
  top: 8px;
  transition: all 0.3s ease;
  
}
.code{
  right: 70px;
}

.theme-toggle:hover{
  box-shadow:  0px 2px 4px var(--text-primary);
}
:root{
  --background: white;
  --text-primary: black;
  --text-secondary: rgb(75, 74, 74);
  --third: rgb(213, 213, 213);
  --fourth: rgb(241, 238, 238);
}

[data-theme="dark"]{
  --background: black;
  --text-primary: white;
  --text-secondary: rgb(146, 146, 146);
  --third: rgb(146, 146, 146);
  --fourth: rgb(35, 35, 35);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1rem;
}
.button {
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: rgb(160, 5, 5);
  color: white;
  transition: all 0.5s ease;
}
.button:hover{
  background-color: rgb(100, 4, 4);
}

.section{
  padding: 6rem 0 1rem;
}
.section__title{
  text-align: center;
}
.section__subtitle{
  margin-bottom: 4rem;
}

.container{
  max-width: 968px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.grid{
  display: grid;
  gap: 1.5rem;
}

/* Desktop */

@media screen and (max-width: 992px){
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button{
    padding: 1rem 1.75rem;
  }
}

/* Medium */

@media screen and (max-width: 768px){
  body{
    padding: 0 0 80px 0;
  }
  .section{
    padding: 2rem 0 1rem;
  }

  .section__subtitle{
    margin-bottom: 2rem 0 4rem;
  }

}

@media screen and (max-width: 576px){
  
}

/* Small*/

@media screen and (max-width: 350px){
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}